---
layout: null
section-type: awards
title: Awards
---
## Awards

<div class="col-md-4">
  <h4>Best MEng Research Project of the Year</h4>
  <p>Awarded for my Master of Engineering Thesis, Dictionary Matching with Fingerprints: An Empirical Analysis</p>
</div>
<div class="col-md-4">
  <h4>Faculty of Engineering Research Internship Prize</h4>
  <p>Awarded for my summer research project, An Empirical Analysis of Data Streaming Algorithms</p>
</div>
<div class="col-md-4">
  <h4>Top Ten Second Year Students in Computer Science</h4>
  <p>Awarded for achieving the second highest overall mark in my second year of Computer Science</p>
</div>
 