
<!-- Awards Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    {{ page.content | markdownify }}
  </div>
</section>

<!-- Awards End -->
