
 <!-- Footer Start -->

<footer>
    <div class="container text-center">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The content of this site</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://djmylt.github.io" property="cc:attributionName" rel="cc:attributionURL">Dominic Moylett</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
</footer>

<!-- Footer End -->
