
<!-- Intro Start -->

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">Dom Moylett</h1>
                    <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
                      <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
                    </a>
                    <h5>&nbsp;</h5>
                    <span class="intro-text">{{ content }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Intro End -->
