
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

        {{ page.content | markdownify }}

        {% for post in paginator.posts %}
          <h4><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <a href="{{site.baseurl}}{{post.url}}"> <strong>{{ post.title }}</strong> </a></h4>
          {{ post.excerpt | strip_html | markdownify }}
        {% endfor %}

        {% include pagination.html %}

        </div>
      </div>
    </section>

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
