
<!-- 404 Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <h1><strong>{{ page.title }}</strong></h1>

          {{ page.content | markdownify }}

        </div>
      </div>
    </section>

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include js.html %}

  </body>
</html>

<!-- 404 Layout End -->
