
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <h1><strong>{{ page.title }}</strong></h1>
          <h4><strong>{{ page.date | date_to_string }}</strong>
            <small> . {{ page.category }} .
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tags/{{tag}}.html">#{{ tag }}</a>
            {% endfor %}
            </small>
          </h4>

          {{ page.content | markdownify }}

          {% include share.html %}

          {% include comments.html %}

        </div>
      </div>
    </section>

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Post Layout End -->
