
<!-- Tag Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <div id="archives">
            <div>
              {% assign tag = page.title %}

              <h3 id="#{{ tag }}">#{{ tag }}</h3>

              {% for post in site.posts %}
                {% if post.tags contains tag %}
                  <h4 align="left"><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <a href="{{site.baseurl}}{{ post.url }}"> <strong>{{ post.title }} </a> </strong></h4>
                {% endif %}
              {% endfor %}

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Tag Layout End -->
